<?xml version="1.0" encoding="UTF-8"?>
<Configuration status = "WARN">
    <Properties>
        <property name="pattern_file">%d{yyyy-MM-dd HH:mm:ss} [%t] %-5level %logger{5} - %msg%n</property>
        <property name="pattern_console">%d{yyyy-MM-dd HH:mm:ss} [%t] %-5level - %msg%n</property>
    </Properties>
    <Appenders>
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout pattern="${pattern_console}"/>
        </Console>
        <RollingFile name="File" fileName="logs/log.txt" append="true"
                     filePattern = "logs/$${date:yyyy-MM}/log-%d{yyyy-MM-dd-HH}.txt">
            <PatternLayout pattern="${pattern_file}"/>
            <Policies>
                <TimeBasedTriggeringPolicy/>
                <SizeBasedTriggeringPolicy size="50 KB"/>
            </Policies>
        </RollingFile>
    </Appenders>

    <Loggers>
        <Root level = "debug" additivity = "false">
            <Appender-ref ref = "Console" level = "debug"/>
            <Appender-ref ref = "File" level = "debug"/>
        </Root>
    </Loggers>
</Configuration>